
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about">
    <h3>This library contains a huge number of books.</h3>
    <h3>Nowadays, the number of books is @ViewBag.BooksCount.</h3>
    <h3>A huge number of genres, ranging from romance to detectives, a lot of different authors.</h3>
    <h3>Electronic library is updated with new books daily</h3>
</div>