
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contacts">
    <h3>You can find us on social networks:</h3>

    <div class="icons">

        <div class="google">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div>
                <a href="https://plus.google.com/discover">
                    <img src="~/Content/Images/Contacts/google_plus.png" alt="">
                </a>
            </div>
        </div>

        <div class="facebook">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div>
                <a href="https://www.facebook.com/">
                    <img src="~/Content/Images/Contacts/facebook.png" alt="">
                </a>
            </div>
        </div>

        <div class="twitter">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div>
                <a href="https://twitter.com/">
                    <img src="~/Content/Images/Contacts/twitter.png" alt="">
                </a>
            </div>
        </div>

        <div class="instagram">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div>
                <a href="https://www.instagram.com/">
                    <img src="~/Content/Images/Contacts/instagram.png" alt="">
                </a>
            </div>
        </div>

        <div class="vk">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div>
                <a href="https://vk.com">
                    <img src="~/Content/Images/Contacts/vk.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>