
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="index">
    <h1>Welcome to Electroinc library</h1>

    <h2>Different genres, a lot of authors...</h2>
    <h2>You can find here a lot of books</h2>
</div>


